<div class="page-container">
  <header>
    <mat-toolbar color="primary" style="justify-content: space-between;">
      <div style="display: flex">
        <button *ngIf="isAuthenticated | async" mat-button (click)="sidenav.toggle()">
          <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
        </button>

      <div>TimerZ</div>
      </div>
      <app-login-menu></app-login-menu>
    </mat-toolbar>
  </header>

  <body >
    <mat-sidenav-container>
      <mat-sidenav
        #sidenav
        class="sidenav"
        opened
        mode="side"
        autoFocus="false"
        [(opened)]="isMenuOpen"
      >
        <mat-list>
          <mat-nav-list>
            <a
              [routerLink]="page.link"
              mat-list-item
              *ngFor="let page of pages"
            >
              <mat-icon>{{ page.icon }}</mat-icon>
              <mat-list-item>{{ page.name }}</mat-list-item>
            </a>
          </mat-nav-list>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </body>
</div>
