<div id="container" class="mat-elevation-z9"  style="font-size: 14px;">

    <div style="padding: 0 0 0 10px;">
      <button  mat-raised-button color="{{!isRunning ? 'primary': 'warn'}}"  (click)="toggleTimer()">
        {{ !isRunning ? "start" : "stop" }}
      </button>
    </div>

    <div style="flex-grow: 4;">
    <mat-form-field appearance="outline">
      <input placeholder="What's up?" matInput [(ngModel)]="description" (input)="onDescriptionChanged($event.target.value)" />
    </mat-form-field>
    </div>

     <div>
      <mat-form-field appearance="outline">
      <mat-label>Project</mat-label>
        <mat-select [(ngModel)]="project"  >
          <mat-option *ngFor="let proj of AllProjects"  [value]="proj"> {{proj.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="flex-grow: 2; font-size: 14px;">
    <mat-form-field  class="example-chip-list" appearance="">

      <mat-chip-list  #chipList aria-label="label selection">
        <mat-chip
          *ngFor="let label of entry.labels"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(label)">
          {{label.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Labels..."
          #labelInput
          [formControl]="labelCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let label of filteredLabels | async" [value]="label.name">
          {{label.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
    <div  style="padding: 0px 10px 0 0">
      {{ TimeDisplay }}
    </div>

    <div >
      <div>
        <button mat-button>
        <mat-icon>add</mat-icon>
      </button>
      </div>
      <div>
        <button color="primary" mat-button>
        <mat-icon>watch</mat-icon>
      </button>
      </div>
    </div>
</div>


